# /etc/systemd/system/jenkins.service.d/override.conf

[Service]
Environment="CASC_JENKINS_CONFIG={{ jenkins_path }}/host/my_marvin.yml"
Environment="REGISTRY_PORT={{ registry_port }}"
Environment="DOCKER_OPTS=--insecure-registry=localhost:{{ registry_port }}"
Environment="DOCKER_OPTS=--insecure-registry=localhost:{{ registry_port }}"
Environment="ADMIN_PASSWORD_FILE={{ jenkins_path }}/secrets/admin_password"
Environment="GITHUB_SSH_KEY_FILE={{ jenkins_path }}/secrets/github_ssh_key"
